services:

  postgres-service:
    image: postgres:16-alpine
    container_name: resilient-postgres
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network


  redis-service:
    image: redis:7-alpine
    container_name: resilient-redis
    ports:
      - "6379:6379"
    networks:
      - app-network


  migrate:
    image: jayaraj0781/resilient-async-job-processing-platform-backend:1.0.0
    command: alembic upgrade head
    depends_on:
      postgres-service:
        condition: service_healthy
    networks:
      - app-network


  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    env_file: .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Console UI
    volumes:
      - minio_data:/data
    networks:
      - app-network


  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      until mc alias set local http://minio:9000 minioadmin minioadmin; do
        echo 'Waiting for MinIO...'
        sleep 2
      done &&
      mc mb --ignore-existing local/resilient-async-job-processing-inputs &&
      mc mb --ignore-existing local/resilient-async-job-processing-outputs &&
      echo 'Buckets created for resilient-async-job-processing project' &&
      echo '{ \"mode\" : \"test\", \"hello\" : \"world\" , \"n\" : [67, 4, 34]}' > /tmp/test.json &&
      mc cp /tmp/test.json local/resilient-async-job-processing-inputs/test.json &&
      echo 'Test file uploaded successfully'
      "
    networks:
      - app-network


  backend:
    # build: .
    image: jayaraj0781/resilient-async-job-processing-platform-backend:1.0.0
    container_name: resilient-backend
    # entrypoint: ["/app/entrypoint.sh"] # Use entrypoint fpr local development, for k8s use init containers
    command: uv run uvicorn main:app --host 0.0.0.0 --port 5001
    ports:
      - "5001:5001"
    env_file: .env
    depends_on:
      postgres-service:
        condition: service_healthy
      redis-service:
        condition: service_started
      migrate:
        condition: service_completed_successfully
    volumes:
      - .:/app
    networks:
      - app-network
    restart: always


  worker:
    image: jayaraj0781/resilient-async-job-processing-platform-backend:1.0.0
    command: python -m app.workers.worker
    env_file: .env
    depends_on:
      postgres-service:
        condition: service_healthy
      redis-service:
        condition: service_started
      migrate:
        condition: service_completed_successfully
    volumes:
      - .:/app
    networks:
      - app-network


networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  minio_data:
