services:
  postgres-service:
    image: postgres:16-alpine
    container_name: resilient-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifications
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    # build: .
    image: jayaraj0781/resilient-async-job-processing-platform-backend:1.0.0
    container_name: resilient-backend
    entrypoint: ["/app/entrypoint.sh"] # Use entrypoint fpr local development, for k8s use init containers
    command: uv run uvicorn main:app --host 0.0.0.0 --port 5001
    ports:
      - "5001:5001"
    depends_on:
      postgres-service:
        condition: service_healthy
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notifications
      POSTGRES_HOST: postgres-service
      POSTGRES_PORT: 5432
    volumes:
      - .:/app
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
