apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "resilient-platform.fullname" . }}-config
  labels:
    {{- include "resilient-platform.labels" . | nindent 4 }}
data:
  POSTGRES_HOST: {{ include "resilient-platform.fullname" . }}-{{ .Values.postgres.host }}-service
  POSTGRES_PORT: "{{ .Values.postgres.port }}"
  POSTGRES_DB: {{ .Values.postgres.database }}

  REDIS_HOST: {{ include "resilient-platform.fullname" . }}-{{ .Values.redis.host }}-service
  REDIS_PORT: "{{ .Values.redis.port }}"

  S3_HOST: {{ include "resilient-platform.fullname" . }}-{{ .Values.minio.host }}-service
  S3_PORT: "{{ .Values.minio.port }}"
  S3_REGION: {{ .Values.minio.region }}
  S3_INPUT_BUCKET: {{ .Values.minio.inputBucket }}
  S3_OUTPUT_BUCKET: {{ .Values.minio.outputBucket }}
  S3_USE_SSL: "{{ .Values.minio.useSSL }}"
  S3_ACCESS_KEY: {{ .Values.minio.accessKey }}
  S3_SECRET_KEY: {{ .Values.minio.secretKey }}

  MINIO_ROOT_USER: {{ .Values.minio.rootUser }}
  MINIO_ROOT_PASSWORD: {{ .Values.minio.rootPassword }}

  MAILTRAP_USE_SANDBOX: "{{ .Values.mailtrap.useSandbox }}"
  MAILTRAP_INBOX_ID: "{{ .Values.mailtrap.inboxId }}"
  MAILTRAP_SENDER_EMAIL: {{ .Values.mailtrap.senderEmail }}
  MAILTRAP_SENDER_NAME: {{ .Values.mailtrap.senderName }}

  BACKEND_API_URL: http://{{ include "resilient-platform.fullname" . }}-backend:{{ .Values.backend.port }}
