apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "resilient-platform.fullname" . }}-config
  labels:
    {{- include "resilient-platform.labels" . | nindent 4 }}
data:
  POSTGRES_HOST: {{ .Values.postgres.host }}
  POSTGRES_PORT: "{{ .Values.postgres.port }}"
  POSTGRES_DB: {{ .Values.postgres.database }}

  REDIS_HOST: {{ .Values.redis.host }}
  REDIS_PORT: "{{ .Values.redis.port }}"

  S3_HOST: {{ .Values.minio.host }}
  S3_PORT: "{{ .Values.minio.port }}"
  S3_REGION: {{ .Values.minio.region }}
  S3_INPUT_BUCKET: {{ .Values.minio.inputBucket }}
  S3_OUTPUT_BUCKET: {{ .Values.minio.outputBucket }}
  S3_USE_SSL: "{{ .Values.minio.useSSL }}"

  MAILTRAP_USE_SANDBOX: "{{ .Values.mailtrap.useSandbox }}"
  MAILTRAP_INBOX_ID: "{{ .Values.mailtrap.inboxId }}"
  MAILTRAP_SENDER_EMAIL: {{ .Values.mailtrap.senderEmail }}
  MAILTRAP_SENDER_NAME: {{ .Values.mailtrap.senderName }}
